.wrapper{
    width: 100%;
    .btn .btn-primary{
        background-color: #0b121b;
    }
}

.visualise-wrapper{
    padding: 10px 0px 10px 0px;
    color: black;
}

.custom-button{
    background-color: #0b121b !important;
    border-color: #0b121b !important;
}

.modal-body{
    color: #0b121b;
}

.modal-header{
    color:  #0b121b;
    .modal-title{
        text-align: center;
        font-weight: bolder;

    }
    
}

.modal-footer{
    padding-left: 10px;
    color: #0b121b;
}
